@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,700");
html {
  min-height: 100%;
  position: relative;
  font-size: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-size: 18px;
  background-color: #fcfcfc;
  color: #383838;
  font-family: "Lato", sans-serif;
  line-height: 25px;
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 1.8rem;
  font-weight: 400;
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
}

hr {
  border-top: 1px solid #343440;
}

.brd {
  border: 1px solid red;
}

.txL {
  text-align: left;
}

.txR {
  text-align: right;
}

.txC {
  text-align: center;
}

.pad0 {
  padding: 0;
}

.mar0 {
  margin: 0;
}

.margTop0 {
  margin-top: 0 !important;
}

.padTop0 {
  padding-top: 0 !important;
}

@media (max-width: 900px) {
  .hideMobile900 {
    display: none !important;
  }
}

.Hidden {
  display: none !important;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.centered {
  text-align: center;
}

.muted-small-text {
  font-size: .9rem;
  margin: 0;
  padding: 0;
  line-height: 1.1rem;
  margin-top: 5px;
}

.flexCentVert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flexSameH {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexEqual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.flexW {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.blue-back {
  background-color: #5D76C9;
}

.green-back {
  background-color: #dc9f1d;
}

.red-back {
  background-color: #D05C5C;
}

.grey-back {
  background-color: #f3f3f3;
}

.big-card {
  background-color: #fff;
  position: relative;
  padding-bottom: 45px;
  box-shadow: 5px 2px 8px -5px rgba(0, 0, 0, 0.55);
}

.big-card .right-bottom {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: right;
}

.big-card .right-bottom .small-text {
  font-size: 0.9rem;
}

.big-card .title {
  background-color: #ffd9d9;
  padding: 10px;
  position: relative;
}

.big-card .title h2 {
  margin: 0;
}

.big-card .title .ml15 {
  margin-left: 15px;
}

.big-card .title .small-text {
  font-size: 0.9rem;
}

.big-card .title .medium-text {
  font-size: 1rem;
}

.big-card .title .big-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.big-card .title .right {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.big-card .title .topright {
  position: absolute;
  right: 10px;
  top: 10px;
}

.big-card .title .topright .chosen-container {
  margin-bottom: 5px;
}

.big-card .subtitle {
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #fff6f6;
  color: #383838;
  padding: 2px 5px;
}

.big-card .content {
  padding: 15px;
}

.big-card .content .btnSm {
  margin-top: 15px;
}

.big-card .content .small-table td {
  padding-right: 15px;
}

.big-card .content .item-row {
  position: relative;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.big-card .content .item-row .delete-item {
  position: absolute;
  opacity: 0;
  right: 20px;
}

.big-card .content .item-row:hover {
  cursor: pointer;
  background-color: #f3f3f3;
}

.big-card .content .item-row:hover .delete-item {
  opacity: 1;
}

.big-card .content .item-row:hover .delete-item i {
  color: #ccc;
}

.big-card .content .item-row:hover .delete-item i:hover {
  color: red;
}

.big-card .right-bottom {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.medium-card .inner {
  position: relative;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 40px;
  min-height: 130px;
}

.medium-card .inner .title {
  margin-bottom: 5px;
}

.medium-card .inner .chosen-container {
  margin-bottom: 10px;
}

.medium-card .right-bottom {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.medium-card .bigtext {
  font-size: 2rem;
  margin-top: 15px;
}

.profile-card {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 50px;
}

.profile-card .inner1 {
  width: 450px;
  max-width: 100%;
  background-color: #5d76c9;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px 10px 0 0;
  min-height: 120px;
}

.profile-card .inner2 {
  box-shadow: 0px 25px 14px -24px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  padding-bottom: 20px;
  width: 450px;
  max-width: 100%;
  border-radius: 0 0 10px 10px;
}

.profile-card .inner2 .title {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.profile-card .inner2 .text {
  margin-top: 15px;
  padding-bottom: 20px;
}

.profile-card .inner2 .text .data {
  background-color: #5D76C9;
  color: #fff;
  border-radius: 40px;
  padding: 2px 10px;
  white-space: nowrap;
}

.profile-card .inner2 .avatar {
  margin-top: -80px;
  margin-bottom: 20px;
}

.profile-card img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  max-width: 100%;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.profile-card img:hover {
  cursor: pointer;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.small-card-filled {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.card-filled .inner {
  position: relative;
  border-radius: 5px;
  padding: 10px;
  min-height: 130px;
}

.card-filled .right-bottom {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.card-filled .bigtext {
  font-size: 2rem;
  margin-top: 15px;
}

.big-list {
  padding-right: 10px;
  margin-bottom: 10px;
}

.big-list .inner {
  background-color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.big-list .image {
  margin-right: 10px;
  float: left;
}

.big-list .image img {
  width: 100px;
  height: 100%;
}

.big-list .content {
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  padding-right: 5px;
}

.big-list .content p {
  font-size: 1rem;
}

.big-list .content span.date {
  font-size: 0.8rem;
}

.big-list hr {
  border-top: 1px solid #A2A2A2;
  margin-top: 5px;
  margin-bottom: 5px;
}

.vertical-list ul {
  padding-left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

.vertical-list ul li {
  list-style: none;
  display: block;
}

.horizontal-list ul {
  padding-left: 0;
  padding: 0;
  margin: 0;
}

.horizontal-list ul li {
  display: inline-block;
  list-style: none;
}

.big-form {
  padding: 10px;
  border: 1px solid #ccc;
  border-top: 10px solid #ababc5;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 5px 2px 8px -5px rgba(0, 0, 0, 0.55);
}

.big-form .inner-row label {
  font-size: 1rem;
}

.big-form .box-container {
  position: relative;
  padding: 10px 20px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.big-form .box-container .box-inner {
  padding: 10px;
}

.big-form .sub-title .inner-sub-title {
  margin-top: 15px;
  padding: 7px 6px 3px;
  padding-left: 6px;
  background-color: #f5f5f5;
}

.big-form .sub-title .inner-sub-title span {
  font-size: 1rem;
  font-weight: 700;
}

.big-form .sub-title .inner-sub-title i.icon {
  padding-top: 4px;
  font-size: 1rem;
  margin-right: 8px;
  margin-left: 8px;
}

.big-form .multiple-items {
  position: relative;
}

.big-form .multiple-items .add-another {
  margin-top: 10px;
  position: absolute;
  bottom: -30px;
  left: 0;
  font-size: 1rem;
}

.big-form .output-data {
  margin-bottom: 10px;
}

.big-form .output-data .output-inner {
  padding: 10px;
  background-color: #fbfbfb;
}

.big-form .actual-image {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.big-form .actual-image .inner {
  max-width: 250px;
}

.big-form .actual-image .inner .overlay {
  -webkit-transition: all 0.2 ease 0s;
  transition: all 0.2 ease 0s;
  border: 1px solid #ccc;
  opacity: 0;
}

.big-form .actual-image .inner:hover {
  cursor: pointer;
}

.big-form .actual-image .inner:hover .overlay {
  opacity: 1;
}

.narrow-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.narrow-form .inner {
  padding: 10px;
  border: 1px solid #ccc;
  border-top: 10px solid #ababc5;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 5px 2px 8px -5px rgba(0, 0, 0, 0.55);
  width: 450px;
  max-width: 100%;
}

.narrow-form .inner .sub-title {
  margin-top: 15px;
  padding: 7px 6px 3px;
  padding-left: 6px;
  background-color: #f5f5f5;
}

.narrow-form .inner .sub-title span {
  font-size: 1rem;
  font-weight: 700;
}

.narrow-form .inner .sub-title i.icon {
  padding-top: 4px;
  font-size: 1rem;
  margin-right: 8px;
  margin-left: 8px;
}

.narrow-form .inner .output-box {
  background: #f9f9f9;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-form .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-form .outer-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.main-form .inner-wrapper {
  background-color: #F2F2F2;
  display: table-cell;
  vertical-align: middle;
  padding: 10px 25px;
}

.main-form .inner-wrapper .login-header {
  text-align: center;
  width: 100%;
  padding: 15px 5px;
}

.main-form .inner-wrapper .login-header span {
  font-size: 2rem;
}

.main-form .inner-wrapper .login-header .svlogo {
  margin-top: 10px;
  width: 100px;
}

.main-form .login-btn {
  position: fixed;
  top: 15px;
  right: 15px;
}

.centered-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.centered-form hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.centered-form .inner {
  width: 450px;
  max-width: 100%;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

.centered-form .inner .login-header {
  padding-top: 10px;
  text-align: center;
}

.centered-form .inner .login-header span.title {
  font-size: 2rem;
}

.centered-form .inner .login-header span.subtitle {
  font-size: .8rem;
}

.centered-form .inner .login-header div.formname {
  margin-top: 15px;
  padding: 10px;
  font-size: 1.4;
  background-color: rgba(255, 255, 255, 0.9);
}

.centered-form .inner .footer {
  text-align: center;
}

.centered-form .inner .footer span {
  font-size: .7rem;
}

.centered-form .inner .footer img {
  width: 100px;
}

.login-back {
  background-color: #212129;
}

.form-group form, .form-horizontal form {
  padding: 15px;
  border: 1px solid red;
}

.form-group form, .form-group input, .form-group textarea, .form-horizontal form, .form-horizontal input, .form-horizontal textarea {
  width: 100%;
  border: 1px solid #BABABA;
  border-radius: 0;
  box-shadow: none;
}

.form-group form ::-webkit-input-placeholder, .form-group input ::-webkit-input-placeholder, .form-group textarea ::-webkit-input-placeholder, .form-horizontal form ::-webkit-input-placeholder, .form-horizontal input ::-webkit-input-placeholder, .form-horizontal textarea ::-webkit-input-placeholder {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}

.form-group form ::-moz-placeholder, .form-group input ::-moz-placeholder, .form-group textarea ::-moz-placeholder, .form-horizontal form ::-moz-placeholder, .form-horizontal input ::-moz-placeholder, .form-horizontal textarea ::-moz-placeholder {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}

.form-group form ::-ms-input-placeholder, .form-group input ::-ms-input-placeholder, .form-group textarea ::-ms-input-placeholder, .form-horizontal form ::-ms-input-placeholder, .form-horizontal input ::-ms-input-placeholder, .form-horizontal textarea ::-ms-input-placeholder {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}

.form-group form ::-moz-placeholder, .form-group input ::-moz-placeholder, .form-group textarea ::-moz-placeholder, .form-horizontal form ::-moz-placeholder, .form-horizontal input ::-moz-placeholder, .form-horizontal textarea ::-moz-placeholder {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}

.form-group textarea, .form-horizontal textarea {
  background-color: #fff;
}

.form-group label, .form-horizontal label {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

.form-control {
  border-radius: 0;
}

.trumbowyg-button-pane {
  background-color: #DADADA;
}

.trumbowyg-button-group {
  color: #383838;
}

.trumbowyg-button-group:hover {
  color: #525252;
}

.trumbowyg-box .trumbowyg-editor {
  background-color: #fff;
  border: 1px solid #ccc;
}

.trumbowyg-box .trumbowyg-editor:hover {
  color: #383838;
}

.trumbowyg-box {
  margin: 5px auto !important;
  border: 0;
}

.form-control {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid #4B4568;
}

.chosen-container-single .chosen-single {
  background: #fff;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 0px 0px 15px;
  height: 36px;
}

.chosen-container-multi .chosen-choices {
  background: #fff;
  box-shadow: none;
  border-radius: 0;
  padding: 3px 5px 3px 15px;
}

.chosen-container-multi .chosen-choices li.search-choice {
  border: 0;
  background-image: none;
  box-shadow: none;
  background-color: #7A83CA;
  color: #fff;
}

.chosen-container-multi .chosen-choices li.search-choice a {
  color: #fff;
}

.jFiler-theme-default .jFiler-input-caption, .jFiler-theme-default .jFiler-input-button {
  padding-top: 5px;
}

.jFiler-theme-default .jFiler-input {
  box-shadow: none;
}

.jFiler-items-default .jFiler-item {
  background-color: #fff;
}

.actual-images ul {
  padding: 25px 15px 25px 15px;
  cursor: pointer;
}

.actual-images ul li {
  position: relative;
  margin-right: 5px;
  margin-bottom: 5px;
}

.actual-images ul li .overlayItemCenter {
  color: #EAE9E9;
}

.actual-images ul li .overlayItemCenter i {
  font-size: 4rem;
}

.actual-images ul li:hover .overlayItemCenter {
  opacity: 1;
}

.actual-images img {
  width: 150px;
  max-width: 100%;
}

.small-card {
  border: 1px solid #ccc;
  padding: 5px;
  padding-left: 10px;
  position: relative;
  margin: 5px 0;
  margin-top: 10px;
}

.small-card .btnCloseThis {
  background-color: #f3f3f3;
  padding: 1px 7px;
  border-radius: 50%;
  font-size: 0.8rem;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 4px;
  top: 4px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.small-card .btnCloseThis:hover {
  cursor: pointer;
}

.small-card i {
  color: #D05C5C;
  font-size: 1.2rem;
}

.horiz-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.horiz-container .inner {
  padding: 10px;
  background-color: #fbfbfb;
}

.button {
  border: 0;
  border-radius: 50px;
  padding: 7px 20px;
  font-size: 1.2rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  line-height: 1.42857143;
  margin: 4px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.button:hover {
  cursor: pointer;
}

.btnSm {
  border: 0;
  border-radius: 50px;
  padding: 2px 15px;
  font-size: 1rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  line-height: 1.42857143;
  margin: 4px;
  min-height: 27px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btnSm:hover {
  cursor: pointer;
}

.btnSmSquare {
  border: 0;
  border-radius: 1px;
  padding: 2px 15px;
  font-size: 1rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  line-height: 1.42857143;
  margin: 4px;
  min-height: 27px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btnSmSquare:hover {
  cursor: pointer;
}

.btnList {
  border: 0;
  padding: 5px 15px;
  font-size: 1.2rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  line-height: 1.42857143;
  margin: 4px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btnList:hover {
  cursor: pointer;
}

.btnSmall {
  border: 0;
  padding: 5px 10px;
  font-size: 1rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  line-height: 1.42857143;
  margin: 2px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btnSmall:hover {
  cursor: pointer;
}

.btnXSmall {
  border: 0;
  padding: 1px 10px;
  font-size: 0.8rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  line-height: 1.42857143;
  margin: 2px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btnXSmall:hover {
  cursor: pointer;
}

.transBtn {
  border: 0;
  border-radius: 0;
  padding: 0;
  font-size: 1rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  line-height: 1.42857143;
  margin: 0;
  background-color: transparent;
}

.transBtn:hover {
  background-color: transparent;
}

.buttonOk, .btnGreen {
  background-color: #8DBB61;
  color: #fff;
}

.buttonOk:hover, .btnGreen:hover {
  background-color: #9FD56B;
  color: #fff;
}

.buttonCancel, .btnRed {
  background-color: #D05C5C;
  color: #fff;
}

.buttonCancel:hover, .btnRed:hover {
  background-color: #C47777;
  color: #fff;
}

.buttonEdit, .btnYellow {
  background-color: #dc9f1d;
  color: #fff;
}

.buttonEdit:hover, .btnYellow:hover {
  background-color: #ceaa5f;
  color: #fff;
}

.buttonOther, .btnBlue {
  background-color: #5D76C9;
  color: #fff;
}

.buttonOther:hover, .btnBlue:hover {
  background-color: #7689C8;
}

.buttonOther:active, .buttonOther:focus, .btnBlue:active, .btnBlue:focus {
  color: #fff;
}

.buttonGrey, .btnGrey {
  background-color: #ccc;
  color: #000;
}

.buttonGrey:hover, .btnGrey:hover {
  background-color: #f9f9f9;
}

.buttonGrey:active, .buttonGrey:focus, .btnGrey:active, .btnGrey:focus {
  color: #000;
}

.btnClose2 {
  background-color: #fff;
  padding: 7px 8px;
  border-radius: 50%;
  font-size: 0.8rem;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 5px;
  top: 5px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btnClose2:hover {
  cursor: pointer;
}

.btnCloseDark {
  background-color: #ccc;
  padding: 1px 8px;
  border-radius: 50%;
  font-size: 0.8rem;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 4px;
  top: 4px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btnCloseDark:hover {
  cursor: pointer;
}

.btnClose {
  background-color: #fff;
  padding: 1px 8px;
  border-radius: 50%;
  font-size: 0.8rem;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 5px;
  top: 5px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btnClose:hover {
  cursor: pointer;
}

.btnSquare {
  border: 0;
  border-radius: 4px;
  border-radius-padding: 2px 8px;
  font-size: 1rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  line-height: 1.42857143;
  margin: 4px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btnSquare:hover {
  cursor: pointer;
}

.close-btn {
  background-color: #fff;
  color: #000;
  padding: 7px 8px;
  border-radius: 50%;
  font-size: 0.8rem;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 5px;
  top: 5px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.close-btn:hover {
  cursor: pointer;
}

.close-btn2 {
  background-color: #fff;
  color: #000;
  padding: 1px 8px;
  border-radius: 50%;
  border: 0;
  font-size: 0.8rem;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 5px;
  top: 5px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.close-btn2:hover {
  cursor: pointer;
}

.header {
  background-color: #59596C;
  padding-bottom: 15px;
  padding-top: 15px;
  color: #fff;
  position: relative;
}

.header span.title {
  font-weight: 400;
  font-size: 1.5rem;
}

.header span.subtitle {
  font-weight: 300;
}

.header .inner {
  position: relative;
}

.header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.header .actions {
  position: absolute;
  right: 0;
  top: -5px;
}

@media (max-width: 765px) {
  .header {
    padding: 5px;
  }
  .header .content {
    display: block;
  }
  .header .content .titles {
    margin: 10px;
  }
  .header .content .actions {
    position: relative;
  }
}

.main-section {
  padding: 25px 5px;
}

.overlayItemCenter {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.header-options {
  margin-bottom: 10px;
  position: relative;
}

.search-filters {
  position: relative;
  background-color: #dadada;
  box-shadow: 5px 2px 8px -5px rgba(0, 0, 0, 0.55);
  padding: 12px;
  z-index: 999;
  display: none;
  color: #383838;
}

.search-filters .navbar-form {
  padding: 0;
  margin: 0;
}

.search-filters .inner-column {
  display: inline-block;
}

.search-filters label {
  font-weight: 300;
  margin: 0;
}

.search-filters .hide-desk {
  display: none;
}

@media (max-width: 765px) {
  .search-filters .inner-column {
    width: 100%;
  }
  .search-filters .inner-column .input-group {
    width: 100%;
  }
  .search-filters .inner-column .input-group input {
    margin-bottom: 10px;
    width: 100%;
  }
  .search-filters .hide-desk {
    display: block;
  }
}

.custom-badge {
  display: inline-block;
  min-width: 10px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0;
  margin-bottom: 5px;
}

.small-form {
  margin-bottom: 25px;
}

.small-form .title {
  background-color: #ababc5;
  padding: 10px;
  padding-left: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.small-form .inner {
  box-shadow: 5px 2px 8px -5px rgba(0, 0, 0, 0.55);
  padding-bottom: 15px;
  border: 1px solid #ccc;
  width: 600px;
  max-width: 100%;
}

.small-form .inner .error-container {
  margin-bottom: 15px;
}

.small-form .inner .error-container .error-content {
  padding: 2px 2px 2px 10px;
  color: #fff;
  background-color: #D05C5C;
}

.main-list {
  box-shadow: 5px 2px 8px -5px rgba(0, 0, 0, 0.55);
}

.main-list .item-row {
  position: relative;
  background-color: #fff;
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-height: 80px;
  border: 1px solid #d7d7d7;
  border-bottom: 0;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.main-list .item-row div:first-child {
  float: left;
}

.main-list .item-row:nth-child(odd) {
  background-color: #fbfbfb;
}

.main-list .item-row:hover, .main-list .item-row .row-selected {
  cursor: pointer;
  background-color: #DDD;
  color: #000;
}

.main-list .item-row:hover img, .main-list .item-row .row-selected img {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.main-list .item-row .img {
  margin-right: 15px;
  margin-left: 10px;
}

.main-list .item-row .img img {
  width: 53px;
}

.main-list .item-row .withimg {
  padding-left: 0;
}

.main-list .item-row .content {
  position: relative;
}

.main-list .item-row .content .inner {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.main-list .item-row .content .inner-tags {
  max-height: 60px;
  overflow-x: hidden;
}

.main-list .item-row .content .small-text {
  font-size: 0.9rem;
}

.main-list .item-row .lists-actions-trigger {
  position: absolute;
  height: 100%;
  right: 30px;
  top: 0;
}

.main-list .item-row .lists-actions-trigger .action-btn {
  border: 0;
  background-color: #8DBB61;
  height: 100%;
  padding: 0 20px;
}

.main-list .item-row .lists-actions-trigger .action-btn i {
  font-size: 1.5rem;
  color: #fff;
}

.main-list .item-row .lists-actions-trigger .action-btn:hover {
  background-color: #9FD56B;
}

.main-list .item-row .triggerwithimg .action-btn {
  right: 0px;
}

.main-list .item-row .lists-actions {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: -11px 4px 9px -8px rgba(0, 0, 0, 0.55) !important;
  background-color: #212129;
  z-index: 5;
}

.main-list .item-row .lists-actions .form-group {
  margin-right: 10px;
}

.main-list .item-row .lists-actions .btn {
  margin: 5px;
  padding: 0 10px;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.main-list .item-row .lists-actions .btn i {
  font-size: 1.5rem;
}

.main-list .item-row .lists-actions .btn-close {
  border-radius: 40px;
}

.main-list .item-row .lists-actions .form-group {
  margin-bottom: 0;
}

.main-list .item-row .lists-actions .form-group .form-control {
  padding: 2px 12px;
}

.main-list .item-row .lists-actions .small {
  color: #C1C1C1;
  font-size: 0.8rem;
}

.main-list .item-row .batch-delete-checkbox {
  position: absolute;
  padding: 5px 8px;
  left: 0;
  top: 0;
  width: 30px;
  background-color: #e8e8e8;
  height: 100%;
  z-index: 989;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-list .item-row .batch-delete-checkbox input[type="checkbox"], .main-list .item-row .batch-delete-checkbox input[type="radio"] {
  margin: 0;
}

.main-list .simple-list .content {
  padding-left: 20px;
}

.empty-row {
  padding: 20px 15px;
  background-color: #ccc;
}

@media (max-width: 765px) {
  .main-list .item-row .mobile-hide {
    display: none;
  }
}

@media (max-width: 350px) {
  .main-list .item-row {
    padding: 0;
  }
  .main-list .item-row .action-btn {
    height: 100%;
    padding: 5px 10px;
    margin-top: 0;
  }
  .lists-actions-trigger {
    padding-top: 0px !important;
    top: 0;
    right: 18px;
    height: 53px;
    position: absolute;
  }
}

.batchDeleteBtn {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 998;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 2px;
}

.horizontal-btn-container {
  padding-top: 30px;
}

.softhr {
  border-top: 1px solid #E4E4E4;
}

.status {
  margin-right: 6px;
  font-size: 0.8rem;
}

.status span.text {
  font-size: 1rem;
}

.status i.active {
  color: #E2CF83;
}

.status i.paused {
  color: red;
}

.paused-item {
  color: #ccc;
}

.colors-container {
  position: relative;
}

.colors-container .color-picker-list {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.colors-container .color-picker-list > div {
  float: left;
  margin-right: 5px;
}

.colors-container .picked-color {
  border: 0;
  border-radius: 50%;
  margin: 2px;
  width: 40px;
  height: 40px;
  padding: 5px;
  box-shadow: 4px 3px 11px -5px rgba(0, 0, 0, 0.75);
}

.colors-container .ColorPickerLi {
  margin: 2px;
  width: 100px;
  height: 40px;
  position: relative;
}

.sp-replacer {
  background-color: #212129;
  border: 0;
  color: #fff;
}

.sp-replacer.sp-active {
  color: #fff;
}

.sp-preview-inner {
  border: 1px solid #fff;
}

.sp-container {
  border: 0;
  background-color: #212129;
  color: #fff;
  box-shadow: 6px 10px 17px -4px rgba(0, 0, 0, 0.75) !important;
}

.sp-cancel {
  color: #fff;
}

.sp-cancel:hover {
  color: #a1c1f6;
}

.sp-choose {
  border-radius: 0;
  background-color: #fff;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-radius: 0 !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #343440;
  border: 0;
  border-radius: 0 !important;
}

.pagination > li > a, .pagination > li > span {
  color: #383838;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  color: #383838;
}

.alert-success {
  color: #fff;
  background-color: #ababc5;
  border: 0;
}

.row-selected {
  background-color: #FE9B9B !important;
  color: #fff;
}

.row-selected img {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.row-selected i {
  color: #000;
}

.blue-back {
  background-color: #8094d8;
  color: #fff;
}

.blue-back span {
  color: #fff;
}

.green-back {
  background-color: #8DBB61;
  color: #fff;
}

.green-back span {
  color: #fff;
}

.light-green-back {
  background-color: #dae2d4;
  color: #383838;
}

.main-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 9999;
  overflow: hidden;
}

.main-loader .inner {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  text-align: center;
  background-color: #59596c;
  color: #fff;
  padding: 20px;
}

.main-loader .inner img {
  width: 80px;
}

.main-loader:hover {
  cursor: wait;
}

.horiz-checkbox-input .inner1 {
  padding-top: 5px;
  margin-right: 4px;
  border: 1px solid #ccc;
  width: 70px;
  height: 34px;
  float: left;
}

.horiz-checkbox-input .inner2 {
  float: left;
  width: 78%;
}

@media (max-width: 1200px) {
  .horiz-checkbox-input .inner2 {
    width: 70%;
  }
}

@media (max-width: 765px) {
  .horiz-checkbox-input .inner2 {
    width: auto;
  }
}

.horiz-double-input .inner1 {
  width: 70px;
  height: 34px;
  float: left;
}

.horiz-double-input .inner2 {
  float: left;
  width: 80%;
}

@media (max-width: 1200px) {
  .horiz-double-input .inner2 {
    width: 75%;
  }
}

@media (max-width: 765px) {
  .horiz-double-input .inner2 {
    max-width: 200px;
  }
}

.article-preview-container .title {
  margin-bottom: 25px;
}

.article-preview-container .title span {
  font-size: 1.5rem;
}

.article-preview-container .item {
  position: relative;
}

.article-preview-container .item .edit {
  position: absolute;
  right: 15px;
  top: 0px;
  padding: 1px 6px;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.article-preview-container .item .edit i {
  color: #383838;
}

.article-preview-container .item .edit i:hover {
  color: #e46565;
}

.article-preview-container .item:hover .edit {
  opacity: 1;
}

.article-preview-container .item img {
  width: 100%;
  max-width: 100%;
}

.article-preview-container .content {
  background-color: #fff;
  text-align: center;
  padding: 10px;
}

.article-preview-container .content .small-text {
  font-size: 0.8rem;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: 0;
  background-color: #212129;
}

.navbar-default.scrolled {
  background-color: #343440;
  border: 0;
  box-shadow: 1px 10px 17px -4px rgba(0, 0, 0, 0.75) !important;
}

.navbar {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navbar .container-fluid {
  padding-left: 0;
}

.navbar .navbar-collapse ul li a {
  color: #fff;
}

.navbar .navbar-brand {
  display: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 0;
}

.navbar .navbar-brand img {
  width: 150px;
  max-width: 100%;
}

.navbar .dropdown-menu i {
  margin-right: 5px;
}

.navbar .dropdown-menu a {
  font-size: 1rem;
  color: #000 !important;
}

.navbar-nav i {
  color: #b3b0d6;
}

.navbar-left li a {
  padding: 8px 5px 5px;
}

.navbar-left img {
  width: 36px;
}

@media (min-width: 768px) {
  .navbar .dropdown-menu a {
    font-size: 1rem;
    color: #000 !important;
  }
}

@media (max-width: 768px) {
  .navbar li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar li:hover {
    background-color: #505063;
  }
  .navbar .dropdown-menu li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar .dropdown-menu li a {
    font-size: 1rem;
    color: #fff  !important;
  }
  .navbar .dropdown-menu li:hover {
    background-color: #505063;
  }
}

.navbar {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navbar .brand-scrolled img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 150px;
}

.navbar .brand-visible {
  display: block;
}

.navbar .user-menu {
  background-color: #343440;
}

.navbar .user-menu a {
  padding: 10px 25px;
}

@media (min-width: 768px) {
  .navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: 768px) {
  .navbar-inverse {
    background-color: transparent;
    border-color: transparent;
  }
}

.login-back {
  background: url(../images/loginback.jpg) no-repeat center center fixed;
  background-size: cover;
}

.parsley-errors-list {
  min-width: 120px;
}
