@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700i,900i|Raleway:200,400,600,800|family=Lato");
.italic {
  font-style: italic;
}

.blue-txt {
  color: #254460;
}

.white-txt {
  color: #fff;
}

.grey-back {
  background-color: #f9f9f9;
}

.lblue-back {
  background-color: #e5edee;
}

.blue-back {
  background-color: #254460;
}

.green-back {
  background-color: #8DBB61;
}

.red-back {
  background-color: #D05C5C;
}

.grey-back {
  background-color: #f9f9f9;
}

.btn {
  border: 0;
  border-radius: 50px;
  padding: 7px 20px;
  font-size: 1.2rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  line-height: 1.42857143;
  margin: 4px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btn:hover {
  cursor: pointer;
}

.btnBig {
  border: 0;
  border-radius: 0;
  padding: 7px 20px;
  font-size: 1.2rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  line-height: 1.42857143;
  margin: 4px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btnBig:hover {
  cursor: pointer;
}

.btnHollow {
  background-color: transparent;
  padding: 10px 20px;
  border: 1px solid #383838;
  font-family: "Playfair Display", serif;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btnHollow:hover {
  background-color: #fff;
}

.btn-hollow-sm {
  background-color: transparent;
  padding: 8px 15px;
  border: 1px solid #ccc;
  font-family: "Playfair Display", serif;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btn-hollow-sm:hover {
  background-color: #fff;
}

.border {
  border: 1px solid rgba(39, 36, 23, 0.24);
}

.blue-hr {
  border-top: 2px solid #254460;
}

.custom-badge {
  display: inline-block;
  min-width: 10px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.hollow-badge {
  display: inline-block;
  padding: 1px 5px;
  border: 1px solid #254460;
  font-size: 1.2rem;
  font-weight: 700;
  color: #254460;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.bg-zoom {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  background-size: 100% 100%;
}

.bg-zoom:hover {
  cursor: pointer;
  background-size: 110% 110%;
}

.left-divider-sm {
  height: 2px;
  border-bottom: 1px solid #254460;
  max-width: 250px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.left-divider-xs {
  height: 2px;
  border-bottom: 1px solid #254460;
  max-width: 150px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.vertical-list ul {
  padding-left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

.vertical-list ul li {
  list-style: none;
  display: block;
}

.horizontal-list ul {
  padding-left: 0;
  padding: 0;
  margin: 0;
}

.horizontal-list ul li {
  display: inline-block;
  list-style: none;
}

.centered-info {
  padding: 10px 10px;
  text-align: center;
}

@media (max-width: 765px) {
  .centered-info {
    padding: 20px 40px;
  }
  .centered-info p {
    font-size: 1rem;
  }
}

.img-and-text {
  margin-top: 25px;
}

.img-and-text .image img {
  max-width: 100%;
}

.img-and-text .text h1 {
  font-family: "Playfair Display", serif;
}

.img-and-text .text span {
  font-family: "Raleway", sans-serif;
}

.centered-text-container {
  text-align: center;
  padding: 10px 10px;
}

.image-modal {
  position: fixed;
  margin-top: 100px;
  width: 100%;
  z-index: 9999;
  border: 1px solid red;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal-open[style] {
  padding-right: 0px !important;
}

@media (max-width: 768px) {
  .mobile-flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 771px) {
  .show-mobile771 {
    display: block;
  }
  .hide-mobile771 {
    display: none;
  }
}

html {
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  font-size: 80%;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-size: 18px;
  background-color: #fff;
  color: #383838;
  font-family: "Playfair Display", serif;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: #bbb7f2;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

@media (max-width: 700px) {
  p {
    font-size: 1.3rem;
  }
}

h1, h2, h3, h4 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #BDD9EB;
}

h4 {
  font-size: 1.3rem;
  font-weight: 400;
}

.brd {
  border: 1px solid red;
}

.txL {
  text-align: left;
}

.txR {
  text-align: right;
}

.txC {
  text-align: center;
}

.pad0 {
  padding: 0;
}

.mar0 {
  margin: 0;
}

.margTop0 {
  margin-top: 0 !important;
}

.padTop0 {
  padding-top: 0 !important;
}

.margTop50 {
  margin-top: 50px;
}

.bt-shadow {
  text-shadow: 5px 2px 10px #000;
  -webkit-text-shadow: 5px 2px 10px #000;
  -moz-text-shadow: 5px 2px 10px #000;
  -moz-text-shadow: 5px 2px 10px #000;
  -o-text-shadow: 5px 2px 10px #000;
}

.bt-shadow2 {
  text-shadow: 5px 7px 30px #383838;
  -webkit-text-shadow: 5px 7px 30px #383838;
  -moz-text-shadow: 5px 7px 30px #383838;
  -moz-text-shadow: 5px 7px 30px #383838;
  -o-text-shadow: 5px 7px 30px #383838;
}

.bt-shadow3 {
  text-shadow: 3px 3px 2px #383838;
  -webkit-text-shadow: 3px 3px 2px #383838;
  -moz-text-shadow: 3px 3px 2px #383838;
  -moz-text-shadow: 3px 3px 2px #383838;
  -o-text-shadow: 3px 3px 2px #383838;
}

.bt-shadow-w {
  text-shadow: 1px 2px 4px #383838;
  -webkit-text-shadow: 1px 2px 4px #383838;
  -moz-text-shadow: 1px 2px 4px #383838;
  -moz-text-shadow: 1px 2px 4px #383838;
  -o-text-shadow: 1px 2px 4px #383838;
}

.wt-shadow {
  text-shadow: 0px -2px 8px #ffffff;
  -webkit-text-shadow: 0px -2px 8px #ffffff;
  -moz-text-shadow: 0px -2px 8px #ffffff;
  -moz-text-shadow: 0px -2px 8px #ffffff;
  -o-text-shadow: 0px -2px 8px #ffffff;
}

@media (max-width: 900px) {
  .hideMobile900 {
    display: none !important;
  }
}

.Hidden {
  display: none !important;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

ul {
  padding-left: 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  height: 80px;
  border: 0;
  background-color: #fff;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  padding: 0;
  padding-top: 10px;
  height: 80px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navbar-default .navbar-brand img {
  max-height: 100%;
}

.navbar-default .navbar-brand:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.navbar-default .navbar-nav > li > a {
  height: 80px;
  line-height: 50px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.6rem;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.navbar-default .navbar-nav > li > a:hover {
  border-bottom: 5px solid #a6ce74;
}

.navbar-default .nav-active {
  border-bottom: 5px solid #a6ce74;
}

@media (max-width: 765px) {
  .navbar-nav {
    background-color: #fff;
    margin-top: 0;
  }
  .navbar-nav > li > a {
    height: 45px;
  }
  .navbar-brand {
    margin-left: 20px;
  }
  .navbar-default .navbar-nav > li > a {
    height: 40px;
    line-height: 15px;
  }
  .navbar-default .navbar-nav > li > a i {
    font-size: 2rem;
  }
  .navbar-toggle {
    margin-top: 18px;
  }
}

@media (max-width: 1200px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 5px;
  }
}

.nav-icon {
  background-color: #a6ce74;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.nav-icon i {
  color: #fff;
  font-size: 3rem;
}

.nav-icon:hover {
  background-color: #8da271;
}

@media (min-width: 1200px) {
  .navbar-default {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.mobile-shop-cta {
  display: none;
}

@media (max-width: 767px) {
  .mobile-shop-cta {
    display: block;
    float: none;
    margin: 0 auto;
    padding-top: 20px;
    display: table;
    table-layout: fixed;
    min-width: 215px;
  }
  .mobile-shop-cta .text {
    color: #383838;
    font-style: italic;
    padding-top: 5px;
  }
  .mobile-shop-cta .icon {
    text-align: center;
    padding-top: 4px;
    float: left;
    background: #94c471;
    border-radius: 50%;
    margin-right: 5px;
    width: 35px;
    min-width: 35px;
    height: 35px;
    color: #fff;
    padding: 4px;
  }
  .mobile-shop-cta .icon:hover {
    background-color: #5a823d;
  }
  .mobile-shop-cta .icon i {
    font-size: 2rem;
  }
  .mobile-shop-cta:hover {
    cursor: pointer;
  }
}

@media (max-width: 374px) {
  .mobile-shop-cta {
    min-width: auto;
    padding-top: 15px;
  }
  .mobile-shop-cta .text {
    padding-top: 0px;
  }
  .mobile-shop-cta .icon {
    margin-top: 8px;
  }
}

.home-banner-container {
  width: 100%;
}

.home-banner-container .home-banner {
  background: url(../webimages/home/homebanner.jpg) no-repeat center 80px;
  background-size: cover;
  height: auto;
  padding-bottom: 80px;
  padding-top: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 200;
}

.home-banner-container .home-banner .inner {
  padding: 10px;
}

.home-banner-container .home-banner .inner span.title {
  font-family: "Playfair Display", serif;
  font-size: 5rem;
  font-weight: 900;
  font-style: italic;
  line-height: 5rem;
  color: #fff;
  text-shadow: 5px 7px 30px #383838;
  -webkit-text-shadow: 5px 7px 30px #383838;
  -moz-text-shadow: 5px 7px 30px #383838;
  -moz-text-shadow: 5px 7px 30px #383838;
  -o-text-shadow: 5px 7px 30px #383838;
}

.home-banner-container .home-banner .inner hr {
  border-top: 2px solid #fff;
  max-width: 450px;
}

.home-banner-container .home-banner .inner p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: 5px 2px 10px #000;
  -webkit-text-shadow: 5px 2px 10px #000;
  -moz-text-shadow: 5px 2px 10px #000;
  -moz-text-shadow: 5px 2px 10px #000;
  -o-text-shadow: 5px 2px 10px #000;
}

.centered-logo {
  text-align: center;
  margin-top: -75px;
  z-index: 400;
}

.centered-logo img {
  width: 150px;
}

.centered-logo-no-banner {
  text-align: center;
}

.centered-logo-no-banner img {
  width: 150px;
}

@media (max-width: 1000px) {
  .home-banner-container .home-banner {
    padding-top: 0;
  }
  .home-banner-container .home-banner .inner span.title {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (max-width: 765px) {
  .home-banner-container .home-banner {
    height: auto;
    padding-bottom: 80px;
  }
  .home-banner-container .home-banner .inner hr {
    width: 50%;
  }
  .home-banner-container .home-banner .inner span.title {
    font-size: 3rem;
    line-height: 2.9rem;
  }
  .home-banner-container .home-banner .inner p {
    padding: 0 2px;
  }
}

@media (max-width: 765px) {
  .home-banner-container .home-banner {
    background: url(../webimages/home/homebannermobile.jpg) no-repeat center 80px;
    background-size: cover;
  }
}

.home-big-menu {
  margin-bottom: 20px;
}

.home-big-menu .home-bm-item {
  border-radius: 15px;
  height: 250px;
  border: 1px solid red;
}

.home-big-menu .home-bm-item .inner {
  position: relative;
}

.home-big-menu .home-bm-item .inner .text {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 20%;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.home-big-menu .home-bm-item .inner .text img {
  border-radius: 15px;
  max-width: 100%;
  max-height: 100%;
}

.home-big-menu .home-bm-item .inner:hover img {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.home-big-menu .blue-bg {
  background-color: #254460;
}

.mosaic-section h1 {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

@media (max-width: 768px) {
  .mosaic-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (min-width: 991px) {
  .mmosaic-section {
    max-width: 1200px;
  }
}

.bgimg-link {
  height: 280px;
  padding: 2px;
  text-align: center;
}

.bgimg-link .inner {
  border-radius: 0;
  height: 100%;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.bgimg-link .inner h1 {
  margin: 0;
  font-weight: 600;
}

.bgimg-link .inner .bgsize {
  background-size: cover;
}

.bgimg-link:hover .inner {
  opacity: 0.9;
}

@media (min-width: 1250px) {
  .home-banner-container .home-banner {
    height: 780px;
  }
}

@media (min-width: 1250px), screen and (min-height: 750px) {
  .home-banner-container .home-banner {
    height: 700px;
  }
}

@media screen and (max-height: 850px) {
  .home-banner-container .home-banner {
    height: 650px;
  }
}

@media screen and (max-height: 798px) {
  .home-banner-container .home-banner {
    height: 550px;
  }
}

@media screen and (max-height: 692px) {
  .home-banner-container .home-banner {
    height: 450px;
  }
}

@media screen and (max-height: 600px) {
  .home-banner-container .home-banner {
    height: 390px;
  }
}

@media screen and (max-height: 700px) {
  .bgimg-container {
    max-width: 750px;
  }
  .bgimg-link {
    height: 150px;
  }
  .bgimg-link .inner p {
    line-height: 1.5rem;
    font-size: 1.2rem;
  }
  .bgimg-link .inner h1 {
    font-size: 2rem;
    text-align: center;
  }
}

@media screen and (max-height: 580px) {
  .bgimg-container {
    max-width: 650px;
  }
  .bgimg-link {
    height: 140px;
  }
  .bgimg-link .inner p {
    line-height: 1.2rem;
    font-size: 1.2rem;
  }
  .bgimg-link .inner h1 {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media screen and (max-height: 500px) {
  .bgimg-container {
    max-width: 590px;
  }
  .bgimg-link {
    height: 130px;
  }
  .bgimg-link .inner p {
    line-height: 1rem;
    font-size: 1.2rem;
  }
  .bgimg-link .inner h1 {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media screen and (min-height: 840px) {
  .bgimg-container {
    max-width: 1170px;
  }
  .bgimg-link {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .bgimg-link {
    height: 160px;
  }
  .bgimg-link .inner p {
    line-height: 1rem;
    font-size: 1.2rem;
  }
  .bgimg-link .inner h1 {
    font-size: 2rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .bgimg-link {
    max-width: 400px;
  }
  .bgimg-link .inner p {
    font-size: 1.2rem;
  }
}

.blue-back-link {
  background-color: #254460;
}

@media (min-width: 1000px) {
  .blue-back-link p {
    font-size: 1.2rem;
  }
}

.accesorios-img-link {
  background: url(../webimages/home/accesorioslink.jpg) no-repeat center center;
  background-size: cover;
}

.maderas-img-link {
  background: url(../webimages/home/regaloslink.jpg) no-repeat center center;
  background-size: cover;
}

.huerta-img-link {
  background: url(../webimages/home/huertalink.jpg) no-repeat center center;
  background-size: cover;
}

@media (max-width: 768px) {
  .huerta-img-link, .accesorios-img-link {
    background-position: bottom;
  }
}

.urbana-img-link {
  background: url(../webimages/home/urbanalink.jpg) no-repeat center center;
  background-size: cover;
}

.blog-img-link {
  background: url(../webimages/home/bloglink.jpg) no-repeat center center;
  background-size: cover;
}

.blog-img-link h1, .blog-img-link p {
  color: #254460;
}

.shop-preview {
  padding: 0 10px 45px;
  max-width: 950px;
  margin: 0 auto;
}

.shop-preview .action {
  margin-top: 35px;
}

@media screen and (max-height: 700px) {
  .shop-preview {
    max-width: 750px;
  }
}

.social-banner {
  background: url(../webimages/home/banner-redes.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 40px 10px;
}

.social-banner h1 {
  color: #fff;
  margin-bottom: 20px;
  margin-top: 0;
}

.social-banner .inner img {
  width: 100px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.social-banner .inner img:hover {
  cursor: pointer;
  -webkit-transform: rotate(-10deg);
  -webkit-transform-transform: rotate(-10deg);
}

.newsletter-popup {
  text-align: center;
  position: fixed;
}

.newsletter-popup .modal-header {
  border: 0;
}

.newsletter-popup .modal-content {
  position: relative;
  background-color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 0;
  outline: 0;
  padding: 0;
}

.newsletter-popup .modal-content .header-image {
  position: relative;
}

.newsletter-popup .modal-content .header-image .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
}

.newsletter-popup .modal-content .header-image .close-modal .close {
  font-size: 30px;
  text-shadow: 0 1px 0 #dc0707;
}

.newsletter-popup .modal-content .header-image img {
  max-width: 100%;
  width: 100%;
}

.newsletter-popup .modal-content .inner-content {
  padding: 20px;
}

.newsletter-popup .modal-content .inner-content h2 {
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 20px;
}

.newsletter-popup .modal-content .inner-content p {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.newsletter-popup .modal-content .inner-content .newsbutton {
  border: 0;
  background-color: #254460;
  color: #fff;
  padding: 4px 20px;
  margin: 0;
}

.newsletter-popup .modal-content .inner-content .muted {
  margin-top: 10px;
  font-size: 1rem;
  color: #383838;
}

.newsletter-popup .modal-content .inner-content input {
  padding: 2px 10px;
}

@media (max-width: 768px) {
  .modal {
    padding: 0 !important;
  }
  .modal-dialog {
    margin: 0;
  }
}

.newsletter-banner {
  padding: 20px 10px;
  background-color: #c1dd9e;
}

.newsletter-banner .inner1 .image {
  float: left;
  width: 80px;
  margin-right: 15px;
}

.newsletter-banner .inner1 .text span.title {
  font-size: 1.8rem;
}

.newsletter-banner .inner1 .text p {
  font-size: 1.2rem;
}

.newsletter-banner .inner2 {
  padding-top: 22px;
}

.newsletter-banner .inner2 .form-inline input {
  width: 50%;
  max-width: 100%;
  height: 40px;
  padding: 0 10px;
}

.newsletter-banner .inner2 .form-inline .newsbutton {
  border: 0;
  background-color: #254460;
  color: #fff;
  padding: 7px;
  margin: 0;
}

@media (max-width: 991px) {
  .newsletter-banner .inner2, .newsletter-banner .inner1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .newsletter-banner .inner2 .form-inline {
    min-width: 100%;
    text-align: center;
  }
}

@media (max-width: 765px) {
  .newsletter-banner {
    padding: 10px 5px;
  }
}

.shop-preview-block .shop-item-preview {
  padding: 5px;
}

.shop-preview-block .shop-item-preview .inner {
  border: 1px solid #ccc;
}

.shop-preview-block .shop-item-preview .inner .image {
  margin-bottom: 5px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.shop-preview-block .shop-item-preview .inner .description {
  padding: 10px;
}

.shop-preview-block .shop-item-preview .inner .description .title {
  padding: 0 5px;
  font-family: "Raleway", sans-serif;
}

.shop-preview-block .shop-item-preview .inner .description .text {
  font-family: "Raleway", sans-serif;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
  line-height: 1.4rem;
}

.shop-preview-block .shop-item-preview .inner .description .price {
  font-family: "Lato", sans-serif;
  padding: 5px;
  font-weight: 600;
  font-size: 2rem;
}

.shop-preview-block .shop-item-preview .inner:hover .image {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
  cursor: pointer;
}

@media screen and (max-height: 800px) {
  .shop-preview-block .shop-preview {
    max-width: 750px;
  }
}

@media screen and (max-height: 710px) {
  .shop-preview-block .shop-preview {
    max-width: 680px;
  }
  .shop-preview-block .shop-preview .inner .description {
    padding: 2px;
  }
  .shop-preview-block .shop-preview .inner .description .title {
    font-size: 1.3rem;
  }
  .shop-preview-block .shop-preview .inner .description .price {
    font-size: 1.6rem;
  }
  .shop-preview-block .shop-preview .inner .image {
    margin-bottom: 5px;
  }
}

@media (max-width: 647px) {
  .shop-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.esencia-banner {
  padding: 0;
  text-align: center;
  margin-bottom: -25px;
  position: relative;
}

.esencia-banner img {
  max-width: 100%;
}

.esencia-banner .title {
  margin-top: 0px;
  font-style: italic;
}

.esencia-banner .text {
  padding-top: 185px;
  position: absolute;
  width: 100%;
}

.esencia-banner .text p {
  color: #fff;
}

.esencia-banner .text .quote {
  margin-top: 15px;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: #fff;
  font-style: italic;
}

@media (min-width: 1500px) {
  .esencia-banner .text {
    padding-top: 240px;
  }
}

@media (max-width: 1300px) {
  .esencia-banner .text {
    padding: 15px;
    padding-top: 160px;
  }
  .esencia-banner .text span {
    font-size: 2rem;
  }
}

@media (max-width: 1160px) {
  .esencia-banner .text .quote {
    font-size: 2rem;
  }
}

@media (max-width: 1038px) {
  .esencia-banner .text {
    padding: 15px;
    padding-top: 130px;
  }
}

@media (max-width: 1011px) {
  .esencia-banner .text {
    padding: 15px;
    padding-top: 110px;
  }
  .esencia-banner .text h1 {
    margin-top: 15px;
  }
  .esencia-banner .text p {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
  .esencia-banner .text .quote {
    font-size: 1.9rem;
  }
}

@media (max-width: 860px) {
  .esencia-banner {
    background: url(../webimages/esencia/bannermobile.jpg) no-repeat center center;
    background-size: cover;
    background-position: bottom;
    height: 500px;
  }
  .esencia-banner .img-desktop {
    display: none;
  }
}

@media (max-width: 560px) {
  .esencia-banner {
    height: 680px;
  }
}

@media (max-width: 350px) {
  .esencia-banner {
    height: 750px;
  }
}

.contact-section {
  padding: 45px 10px;
}

.contact-section .inner .form form {
  position: relative;
}

.contact-section .inner .form input, .contact-section .inner .form textarea {
  border-radius: 0;
  font-size: 1.5rem;
}

.contact-section .inner .form input {
  height: 50px;
}

.contact-section .inner .form .title {
  font-size: 1.8rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  margin-bottom: 10px;
  display: none;
}

.contact-section .inner .address-data {
  font-family: "Raleway", sans-serif;
}

.contact-section .inner .address-data .title {
  font-size: 1.8rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-section .inner .address-data .subtitle {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.contact-section .inner .address-data .text {
  font-size: 1.2rem;
  line-height: 18px;
  margin-bottom: 15px;
}

.contact-section .inner .address-data .data-container {
  margin-bottom: 20px;
  margin-top: 15px;
  min-width: 180px;
}

.contact-section .inner .address-data .data-container .data-title {
  color: #254460;
}

.contact-section .inner .address-data .data-container .data {
  font-size: 1.2rem;
}

@media (max-width: 991px) {
  .contact-section .inner .address-data {
    margin-top: 25px;
  }
  .contact-section .inner .address-data .title {
    display: none;
  }
  .contact-section .inner .form .title {
    display: block;
  }
}

.closeForm {
  position: absolute;
  right: 2px;
  top: 2px;
}

.closeForm:hover {
  cursor: pointer;
}

.form-response {
  padding-top: 45px;
  text-align: center;
}

.form-response .icon {
  font-size: 3rem;
  color: #a6ce74;
  margin-bottom: 10px;
}

.form-response .big-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: #777;
  margin-bottom: 10px;
}

.form-response .small-text {
  font-size: 1.4rem;
  color: #777;
  margin-bottom: 10px;
}

footer {
  background-color: #ccc;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: #f9f9f9;
}

footer .footer-content {
  padding: 25px 15px;
  color: #254460;
}

footer .footer-content .address i {
  font-size: 1.5rem;
}

footer .copyright {
  background-color: #ececec;
  padding: 10px 5px;
  text-align: center;
  color: #254460;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
  font-weight: 400;
}

.blog-header {
  background: url(../webimages/blog/blog-header.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.blog-header .inner h1 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 3.5rem;
  font-weight: 600;
  color: #254460;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .blog-header {
    max-width: 100%;
    background: url(../webimages/blog/blog-header-mobile.jpg) no-repeat center center;
    background-size: cover;
  }
}

.number {
  font-family: "Lato", sans-serif !important;
}

.dark-container-top {
  padding: 0;
  padding-top: 60px;
  margin-bottom: 50px;
  background-color: #2D2D36;
  color: #fff;
}

.dark-container-top h2 {
  text-align: center;
}

.container-top {
  padding: 0;
  margin-top: 80px;
  padding-bottom: 50px;
}

.blog-container {
  min-height: 550px;
  margin-top: 15px;
  padding: 10px 0;
}

.blog-container .blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 25px;
  max-width: 339px;
}

.blog-container .blog-item .inner img {
  z-index: 0;
  max-width: 100%;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.blog-container .blog-item .inner img:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  cursor: pointer;
}

.blog-container .blog-item .inner .info {
  padding: 15px 10px 5px 10px;
  padding-bottom: 30px;
  background-color: #f9f9f9;
  position: relative;
}

.blog-container .blog-item .inner .info hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog-container .blog-item .inner .info .category span {
  font-size: 1.1rem;
  padding: 1px 4px;
  border: 1px solid #254460;
}

.blog-container .blog-item .inner .info .category a {
  color: #254460;
  font-style: italic;
}

.blog-container .blog-item .inner .info .title {
  margin-top: 10px;
  margin-bottom: 5px;
  min-height: 52px;
}

.blog-container .blog-item .inner .info .title a {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
  color: #254460;
}

.blog-container .blog-item .inner .info .content-text {
  word-wrap: break-word;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  margin-bottom: 10px;
}

.blog-container .blog-item .inner .info .seemore a {
  font-size: 1.2rem;
  color: #254460;
}

.blog-container .blog-item .inner .info .date {
  margin-top: 5px;
  position: absolute;
  right: 8px;
  bottom: 3px;
}

.blog-container .blog-item .inner .info .date i {
  margin-right: 5px;
  font-size: 1rem;
  color: #ABABAB;
}

.blog-container .blog-item .inner .info .date span {
  color: #ABABAB;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

.portfolio-container {
  margin-top: 15px;
  padding: 10px 0;
}

.portfolio-container .portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 25px;
  max-width: 339px;
}

.portfolio-container .portfolio-item .inner img {
  z-index: 0;
  max-width: 100%;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.portfolio-container .portfolio-item .inner img:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  cursor: pointer;
}

.portfolio-container .portfolio-item .inner .info {
  padding: 5px;
  position: relative;
  background-color: #f9f9f9;
}

.portfolio-container .portfolio-item .inner .info .title a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #254460;
}

@media (max-width: 767px) {
  .center-mobile {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sidebar-filters {
  padding: 0 10px 15px 0px;
  min-width: 250px;
}

.sidebar-filters a {
  color: #383838;
}

.sidebar-filters .title {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.sidebar-filters .items {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

.sidebar-filters .items a {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.sidebar-filters .items a:hover {
  color: #8DBB61;
}

.sidebar-filters .search-form input {
  border: 1px solid #254460;
  border-radius: 0;
}

.sidebar-filters .search-form span {
  background-color: #254460;
  color: #fff;
  border: 0;
  border-radius: 0;
}

.sidebar-filters hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid #ccc;
}

@media (max-width: 1020px) {
  .sidebar-filters {
    display: none;
  }
}

.filters .searcher input {
  color: #000;
}

.mobile-filters-actions {
  min-height: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
  display: none;
}

.mobile-filters-actions input {
  float: left;
  height: 43px;
  max-width: 200px;
  border-radius: 30px;
  margin-right: 6px;
}

@media (max-width: 1020px) {
  .mobile-filters-actions {
    display: block;
  }
}

.mobile-filters {
  position: relative;
  padding: 0;
  display: none;
}

.mobile-filters .title {
  font-size: 1.5rem;
  color: #383838;
}

.mobile-filters .close-filters {
  position: absolute;
  right: 5px;
  top: 2px;
}

.mobile-filters .close-filters:hover {
  cursos: pointer;
}

.mobile-filters .filter-inner {
  box-shadow: 7px 6px 5px -6px rgba(0, 0, 0, 0.75) !important;
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 500;
  width: 100%;
  min-width: 100%;
  text-align: center;
  background-color: #f9f9f9;
  padding: 50px 10px;
  color: #383838;
}

.mobile-filters .filter-inner hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #f9f9f9;
}

.mobile-filters .filter-inner .search-input hr {
  margin-top: 20px;
}

.mobile-filters .filter-inner .search-input input {
  width: 70%;
  float: left;
  margin-right: 5px;
  border-radius: 0;
}

.mobile-filters .filter-inner .search-input button {
  color: #000;
  border-radius: 0;
}

.mobile-filters .filter-inner .search-buttons .title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.mobile-filters .filter-inner .search-buttons .filter-button {
  border-radius: 0;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #fff;
  background-color: #94cf6f;
  font-size: 1.2rem;
}

@media (max-width: 1004px) {
  .mobile-filters {
    display: block;
  }
}

.blog-article-head {
  padding: 15px;
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
}

.blog-article-head .category span {
  border: 1px solid #254460;
  padding: 1px 4px;
}

.blog-article-head .category a {
  color: #254460;
}

.blog-article-head .category a:hover {
  color: #8DBB61;
}

.blog-article-head .right {
  text-align: right;
}

.blog-article-head .custom-badge {
  font-family: "Raleway", sans-serif;
}

.single-item {
  background-color: #fff;
  position: relative;
  margin-bottom: 15px;
  padding: 15px;
}

.single-item p {
  font-size: 1.2rem;
}

.single-item a {
  color: blue;
}

.single-item h1 {
  margin-bottom: 25px;
}

.single-item .title {
  font-family: "Playfair Display", serif;
  font-size: 2.4rem;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 3rem;
}

.single-item .content p {
  font-family: "Raleway", sans-serif;
}

.single-item .bottom a {
  color: #254460;
}

.single-item .bottom a:hover {
  color: #8DBB61;
}

.single-item .post-date-desktop {
  display: block;
}

.post-date-mobile {
  display: none;
  padding: 20px;
}

@media (max-width: 771px) {
  .post-date-mobile {
    display: block;
  }
  .post-date-desktop {
    display: none;
  }
}

@media (max-width: 430px) {
  .single-item .title {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .single-item {
    padding: 5px;
  }
  .single-item h1 {
    font-size: 2rem;
  }
}

.blog-slider {
  padding: 15px;
}

.blog-slider .swiper-container {
  width: 100%;
  margin-bottom: 20px;
}

.blog-slider .swiper-container img {
  height: 100%;
  width: 100%;
}

.blog-slider .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog-slider .swiper-slide-blog:nth-child(2n) {
  width: 40%;
}

.blog-slider .swiper-slide-blog:nth-child(3n) {
  width: 20%;
}
