.navbar
    margin-bottom: 0
.navbar-default
    height: 80px
    border: 0
    background-color: #fff
    border-radius: 0
    .navbar-brand
        padding: 0
        padding-top: 10px
        height: 80px
        @include transition(0.3s)
        img
            max-height: 100%
        &:hover
            transform: scale(1.2) 
            cursor: pointer

    .navbar-nav>li>a
        height: 80px
        line-height: 50px
        font-family: $font1
        font-weight: $f1w1
        font-style: italic
        font-size: 1.6rem
        @include transition(0.2s)
        &:hover
            border-bottom: 5px solid $main-green

    .nav-active
        border-bottom: 5px solid $main-green

@media (max-width: 765px)
    .navbar-nav
        background-color: #fff
        margin-top: 0
    .navbar-nav>li>a
        height: 45px
    .navbar-brand
        margin-left: 20px
    .navbar-default .navbar-nav > li > a
        height: 40px
        line-height: 15px
        i
            font-size: 2rem
    .navbar-toggle
        margin-top: 18px

// Brand Logo margin in small devices
@media (max-width: 1200px)
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand
        margin-left: 5px

.nav-icon
    background-color: $main-green
    padding-left: 10px
    padding-right: 10px
    @include transition(0.2s)
    i
        color: #fff
        font-size: 3rem
    &:hover
        background-color: #8da271

// Padding in large Screens
@media (min-width: 1200px)
  .navbar-default
    padding-left: 50px
    padding-right: 50px

.mobile-shop-cta
    display: none

@media (max-width: 767px)
    .mobile-shop-cta
        display: block
        float: none
        margin: 0 auto
        padding-top: 20px
        display: table
        table-layout: fixed
        min-width: 215px
        .text
            color: #383838
            font-style: italic
            padding-top: 5px
        .icon
            text-align: center
            padding-top: 4px
            float: left
            background: #94c471
            border-radius: 50%
            margin-right: 5px
            width: 35px
            min-width: 35px
            height: 35px
            color: #fff
            padding: 4px
            &:hover
                background-color: #5a823d
            i
                font-size: 2rem
        &:hover
            cursor: pointer

@media (max-width: 374px)
    .mobile-shop-cta
        min-width: auto
        padding-top: 15px
        .text
            padding-top: 0px
        .icon
            margin-top: 8px