@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700i,900i|Raleway:200,400,600,800|family=Lato')

$font1: 'Playfair Display', serif
$f1w1: 400
$f1w2: 700
$f1w3: 900
$font2: 'Raleway', sans-serif
$f2w1: 200
$f2w2: 400
$f2w3: 600
$f2w4: 800
$fnumber: 'Lato', sans-serif
.italic
	font-style: italic

//////////////////////////////////////
//                                  //
//              COLORS              //
//                                  //
//////////////////////////////////////

$main-green: rgb(166, 206, 116)
$dark-blue: rgb(37, 68, 96)
$main-blue: #254460
$grey: rgb(237, 241, 243)

$orange:  #dc9f1d
$orangeH: #ceaa5f
$greenD:  #8DBB61
$greenL:  #9FD56B
$green:   #8DBB61
$greenH:  #9FD56B
$blue:    #5D76C9
$blueH:   #7689C8
$red:     #D05C5C
$redH:    #C47777
$grey:    #f9f9f9
$lblue:   #e5edee

.blue-txt
	color: $dark-blue

.white-txt
	color: #fff

.grey-back
	background-color: $grey

.lblue-back
	background-color: $lblue

//////////////////////////////////////
//                                  //
//           BACKGROUNDS            //
//                                  //
//////////////////////////////////////

.blue-back
	background-color: $dark-blue

.green-back
	background-color: $green

.red-back
	background-color: $red

.grey-back
	background-color: $grey

//////////////////////////////////////
//                                  //
//              BUTTONS             //
//                                  //
//////////////////////////////////////


.btn
	border: 0
	border-radius: 50px
	padding: 7px 20px
	font-size: 1.2rem
	white-space: nowrap
	vertical-align: middle
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	background-image: none
	line-height: 1.42857143
	margin: 4px
	@include transition(0.2s)
	&:hover
		cursor: pointer

.btnBig
	border: 0
	border-radius: 0
	padding: 7px 20px
	font-size: 1.2rem
	white-space: nowrap
	vertical-align: middle
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	background-image: none
	line-height: 1.42857143
	margin: 4px
	@include transition(0.2s)
	&:hover
		cursor: pointer


.btnHollow
	background-color: transparent
	padding: 10px 20px
	border: 1px solid #383838
	font-family: $font1
	@include transition(0.2s)
	&:hover
		background-color: #fff

.btn-hollow-sm
	background-color: transparent
	padding: 8px 15px
	border: 1px solid #ccc
	font-family: $font1
	@include transition(0.2s)
	&:hover
		background-color: #fff


//////////////////////////////////////
//                                  //
//              DECO                //
//                                  //
//////////////////////////////////////

.border
	border: 1px solid rgba(39, 36, 23, 0.24)

.blue-hr
	border-top: 2px solid $dark-blue

.custom-badge
	display: inline-block
	min-width: 10px
	padding: 5px 10px
	font-size: 12px
	font-weight: 700
	line-height: 1
	color: #fff
	text-align: center
	white-space: nowrap
	vertical-align: middle
	
.hollow-badge
	display: inline-block
	
	padding: 1px 5px
	border: 1px solid $main-blue
	font-size: 1.2rem
	font-weight: 700
	color: $main-blue
	text-align: center
	white-space: nowrap
	vertical-align: middle

.bg-zoom
	@include transition(1s)
	background-size: 100% 100%
	&:hover
		cursor: pointer
		background-size: 110% 110%

.left-divider-sm
	height: 2px
	border-bottom: 1px solid $dark-blue
	max-width: 250px
	margin-bottom: 5px
	margin-top: 5px

.left-divider-xs
	height: 2px
	border-bottom: 1px solid $dark-blue
	max-width: 150px
	margin-bottom: 5px
	margin-top: 5px

//////////////////////////////////////
//                                  //
//              LISTS               //
//                                  //
//////////////////////////////////////
///// Vertical List ///
.vertical-list
	ul
		padding-left: 0
		padding: 0
		margin: 0
		list-style: none
		li
			list-style: none
			display: block
			// float: left
			// width: 100px
			// line-height: 80px
			// vertical-align: middle

//// Grid View /////
.horizontal-list
	ul
		padding-left: 0
		padding: 0
		margin: 0
		li
			display: inline-block
			list-style: none


//////////////////////////////////////
//                                  //
//           CONTAINERS             //
//                                  //
//////////////////////////////////////


.centered-info
	padding: 10px 10px
	text-align: center

@media (max-width: 765px)
	.centered-info
		padding: 20px 40px
		p
			font-size: 1rem

.img-and-text
	margin-top: 25px
	.image
		img
			max-width: 100%
	.text
		h1
			font-family: $font1
			// font-style: italic
		span
			font-family: $font2

.centered-text-container
	text-align: center
	padding: 10px 10px


//////////////////////////////////////
//                                  //
//              ITEMS               //
//                                  //
//////////////////////////////////////

.image-modal
	position: fixed
	margin-top: 100px
	width: 100%
	z-index: 9999
	border: 1px solid red
	text-align: center
	background-color: rgba(0,0,0,.8)
	.inner-image

.modal-image
	@include flex-center

.modal-open[style]
	padding-right: 0px !important

//////////////////////////////////////
//                                  //
//              ALERTS              //
//                                  //
//////////////////////////////////////

//////////////////////////////////////
//                                  //
//             FLEXBOX              //
//                                  //
//////////////////////////////////////

@media (max-width: 768px)
	.mobile-flex-column
		display: -webkit-box
		display: -ms-flexbox
		// display: flex
		-webkit-box-align: center
		-ms-flex-align: center
		-ms-grid-row-align: center
		justify-content: center
		-webkit-box-orient: vertical
		-webkit-box-direction: normal
		-ms-flex-direction: column
		flex-direction: column

.flex-center
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	-webkit-box-align: center
	-ms-flex-align: center
	-ms-grid-row-align: center
	align-items: center
	-webkit-box-pack: center
	-ms-flex-pack: center
	justify-content: center


//////////////////////////////////////
//                                  //
//         Responsivity             //
//                                  //
//////////////////////////////////////

@media (max-width: 771px)
	.show-mobile771
		display: block
	.hide-mobile771
		display: none



